@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This web app is the pre-assignment for Solita Dev Academy.</p>

    <p>Journey and station data are being imported in the background asynchronously.</p>

    <p>Data will show up in the journey list and the station list when ready.</p>

</div>
